<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smbdoctor.mapper.MedicationInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.smbdoctor.entity.MedicationInfo">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="dosage" column="dosage" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="duringTime" column="during_time" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,dosage,type,
        create_time,during_time,image
    </sql>
</mapper>
